<!-- <div class="sidebar sidebar-padded"> -->

<div class="container max-width">

  <div class="row">

    <div class="col-sm-12 padding-bottom-30">
      <h1 class="text-center padding-20">Où dormir ? </h1>
      <p class="text-center"> Souhaitez-vous profiter du week-end pour dormir dans une chambre d'hote au pied des vignes ou gouter aux joies du camping, voici une sélection proche du lieu du mariage rien que pour vous !</p>
    </div>
  </div>

  <div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
  </div>

  <!-- show all spots according to filters -->

    <% @genres.each do |g| %>

      <div class="row padding-bottom-20">

        <div class="col-sm-12">
          <h2 class="text-center padding-20"><%= g.upcase %></h2>
        </div>

        <% Lieu.all.each do |l| %>
          <% if l.genre == g %>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <a href=<%=l.url%> target="_blank">
                  <div class="card">
                  <div class="card-text">
                    <p class="title text-center"><strong><%= l.name %></strong></p>
                    <p class="title text-center"><%= l.city %></p>
                    <p class="title text-center"><%= l.url %></p>
                    <p class="title text-center"><%= l.phone %></p>
                    <p class="title text-center"> <strong><%= l.description %></strong></p>
                  </div>
                </div>
              </a>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
    </div>

    <% end %>


</div>

<!-- block for map -->

<!-- <div id="map"></div> -->


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>


