<div class="sidebar sidebar-padded">

  <!-- show all spots according to filters -->
  <div class="row">

    <% @lieux.each do |lieu| %>
      <div class="col-md-6">
        <div class="card">
          <div class="card-text">
            <div class="title text-center"><%= lieu.name %></div>
            <div class="title text-center"><%= lieu.url %></div>
            <div class="title text-center"><%= lieu.phone %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- block for map -->

<div id="map"></div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>


