
<div class="bg-fond">

  <div class="container max-width">

    <div class="row padding-top-20 padding-bottom-20">

      <div class="col-xs-12">

        <div class="top1">
          <div class="countdown banner-content border-total text-center">
            <div class="banner-heart-1"><i class="fa fa-heart fa-2x"></i></div>
            <div class="banner-heart-2"><i class="fa fa-heart fa-2x"></i></div>
            <div class="banner-heart-3"><i class="fa fa-heart fa-2x"></i></div>
            <div class="banner-heart-4"><i class="fa fa-heart fa-2x"></i></div>
            <div class="row">
              <h1 class="padding-10"> Mariage de Géraldine & Jean </h1>
              <h1 class="padding-10"> le 4 juin 2016 </h1>
            </div>
            <div class="row">
              <div class="padding-20">
                <div class="col-xs-hidden col-md-6 col-lg-3">
                  <div class="chart"><span id="days"></span>Jours</div>
                </div>
                <div class="col-xs-hidden col-md-6 col-lg-3">
                  <div class="chart"><span id="hours"></span>Heures</div>
                </div>
                <div class="col-xs-hidden col-md-6 col-lg-3">
                  <div class="chart"><span  id="minutes"></span>Minutes</div>
                </div>
                <div class="col-xs-hidden col-md-6 col-lg-3">
                  <div class="chart"><span id="secondes"></span>Secondes</div>
                </div>
              </div>
            </div>
               <!-- data-percent="100" -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-pink">

  <div class="container max-width bg-pink">

    <div class="row">
      <div class="col-xs-12">
        <div class="padding-top-20 padding-bottom-20">
          <h1 class="text-center font-white"> Starring </h1>
        </div>
      </div>
    </div>

    <div class="row padding-top-20 padding-bottom-20">
      <div class="col-xs-12 col-md-5">
        <div class=" bg-height-400 text-center">
          <div class="bg-height-250">
            <div class="avatar avatar-bordered">
              <div class="avatar-background" style="background-image: url(<%= image_path 'gege.jpg' %>)"></div>
            </div>
          </div>
          <div class="padding-top-20 padding-bottom-20">
            <h3> Géraldine Lapiche </h3>
            <p> Une fille extraordinaire </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-2 text-center">
        <span class="hex-icon-heart">
          <svg style="height:70px; width:70px;">
            <path d="M0,19 C0,44 35,50.875 35,59 L35,19 C35,-6 0,-6 0,19 L0,19 Z M35,19 L35,59 C35,50.875 70,44 70,19 C70,-6 35,-6 35,19 L35,19 Z" id="Shape"></path>
          </svg>
        </span>
      </div>
       <!--  <i class="fa fa-heart fa-4x"></i> -->
      <div class="col-xs-12 col-md-5">
        <div class=" bg-height-400 text-center">
          <div class="bg-height-250">
            <div class="avatar avatar-bordered">
              <div class="avatar-background" style="background-image: url(<%= image_path 'jean.png' %>)"></div>
            </div>
          </div>
          <div class="padding-top-20 padding-bottom-20">
            <h3> Jean Sénémaud </h3>
            <p> Un homme formidable </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
</div>

<div class="container  max-width">

  <div class="row">
    <div class="col-xs-12">
      <div class="padding-top-20 padding-bottom-20">
        <h1 class="text-center"> Le programme </h1>
      </div>
    </div>
<!--     <div class="col-xs-12 col-md-6">
      <p> On les aime </p>
    </div> -->
  </div>

    <div class="row padding-top-20 padding-bottom-20">
    <div class="col-xs-12 col-md-3">
      <div class=" bg-height-400 text-center">
        <div class="bg-height-250">
          <div class="avatar avatar-bordered">
            <div class="avatar-background" style="background-image: url(<%= image_path 'mairie.JPG' %>)"></div>
          </div>
        </div>
        <h3> 14h45 </h3>
        <p> Le mariage civil à la mairie  de Cheilly lès Maranges</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="bg-height-400 text-center">
        <div class="bg-height-250">
          <div class="avatar avatar-bordered">
            <div class="avatar-background" style="background-image: url(<%= image_path 'eglise.jpg' %>)"></div>
          </div>
        </div>
        <h3> 16h </h3>
        <p> La cérémonie de mariage religieuse en l'église de Cheilly lès Maranges </p>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="bg-height-400 text-center">
        <div class="bg-height-250">
          <div class="avatar avatar-bordered">
            <div class="avatar-background" style="background-image: url(<%= image_path 'chassagne.JPG' %>)"></div>
          </div>
        </div>
        <h3> 18h </h3>
        <p> Le vin d'honneur au Domaine du Château de Chassagne Montrachet </p>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="bg-height-400 text-center">
        <div class="bg-height-250">
          <div class="avatar avatar-bordered">
            <div class="avatar-background" style="background-image: url(<%= image_path 'chassagne2.JPG' %>)"></div>
          </div>
        </div>
        <h3> 20h </h3>
        <p> Le diner au Domaine du Château de Chassagne Montrachet, suivi du brunch le lendemain matin à 12h  </p>
      </div>
    </div>
  </div>

</div>

<div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
</div>

<div class="container">

  <div class="row">

    <div class="col-xs-12 text-center">
      <h1> RSVP </h1>
      <p> Serez-vous parmis nous ? Nous l'espérons ! </p>

    </div>

    <div class="col-xs-12 col-md-4 col-md-offset-4">

        <!-- Begin MailChimp Signup Form -->
      <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
      <div id="mc_embed_signup">
      <form class="font-green" action="//geraldinejean2016.us12.list-manage.com/subscribe/post?u=04ded21b7fb2a4f603592581c&amp;id=d95134094f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">

      <div class="indicates-required"><span class="asterisk">*</span> Champs nécessaires</div>
      <div class="mc-field-group">
        <label for="mce-EMAIL">Votre adresse email  <span class="asterisk">*</span>
      </label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      </div>
      <div class="mc-field-group">
        <label for="mce-FNAME">Votre nom </label>
        <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
      </div>
      <div class="mc-field-group">
        <label for="mce-LNAME">Votre prénom </label>
        <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
      </div>
      <div class="mc-field-group">
        <label for="mce-MMERGE3">Votre musique favorite pour notre mariage </label>
        <input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3">
      </div>
      <div class="mc-field-group">
        <label for="mce-MMERGE4">Combien de personnes serez-vous ? </label>
        <input type="text" value="" name="MMERGE4" class="" id="mce-MMERGE4">
      </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_04ded21b7fb2a4f603592581c_d95134094f" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="RSVP" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
      </form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='text';fnames[4]='MMERGE4';ftypes[4]='text'; /*
       * Translated default messages for the $ validation plugin.
       * Locale: FR
       */
      $.extend($.validator.messages, {
              required: "Nous avons besoin de ces informations, merci !",
              remote: "Veuillez remplir ce champ pour continuer.",
              email: "Votre adresse email est-elle correcte ?",
              url: "Veuillez entrer une URL valide.",
              date: "Veuillez entrer une date valide.",
              dateISO: "Veuillez entrer une date valide (ISO).",
              number: "Veuillez entrer un nombre valide.",
              digits: "Veuillez entrer (seulement) une valeur numérique.",
              creditcard: "Veuillez entrer un numéro de carte de crédit valide.",
              equalTo: "Veuillez entrer une nouvelle fois la même valeur.",
              accept: "Veuillez entrer une valeur avec une extension valide.",
              maxlength: $.validator.format("Veuillez ne pas entrer plus de {0} caractères."),
              minlength: $.validator.format("Veuillez entrer au moins {0} caractères."),
              rangelength: $.validator.format("Veuillez entrer entre {0} et {1} caractères."),
              range: $.validator.format("Veuillez entrer une valeur entre {0} et {1}."),
              max: $.validator.format("Veuillez entrer une valeur inférieure ou égale à {0}."),
              min: $.validator.format("Veuillez entrer une valeur supérieure ou égale à {0}.")
      });}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->
    </div>
  </div>

   <div class="row padding-top-20 padding-bottom-20">
    <div class= "col-xs-12">
      <p class = "text-center"> Si vous avez des questions, n'hésitez pas à nous envoyer un mail sur <a class="font-green" href="mailto:geraldine.jean2016@gmail.com" target="_top">geraldine.jean2016@gmail.com</a>  </p>
    </div>
  </div>

</div>

<div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
</div>

<div class="bg-pink">
  <div class="container  max-width">

    <div class="row">
      <div class="col-xs-12">
        <div class="padding-top-20 padding-bottom-20">
          <h1 class="text-center font-white"> Les témoins </h1>
        </div>
      </div>
    </div>

    <div class="row padding-top-20 padding-bottom-20">
      <div class="col-xs-12 col-md-3">
        <div class="bg-height-100p text-center">
          <div class="bg-height-250">
            <div class="bg-white avatar avatar-bordered" style="display: flex; justify-content: center; align-items: center;">
              <h3> Les témoins de la mariée </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="bg-height-100p text-justify">
          <div class="bg-height-250">
            <div class="avatar avatar-bordered">
              <div class="avatar-background" style="background-image: url(<%= image_path 'emeline.jpg' %>)"></div>
            </div>
          </div>
          <h3> Emeline </h3>
          <h4> <strong>Age :</strong> 28 ans</h4>
          <h4> <strong>Caractère :</strong> On la surnomme Meuh ou La Fouine depuis plus de 13 ans maintenant. Cette reine du royaume animal sera toujours là pour vous écouter et partager de riches moments (bitcher sur les gens du lycée, aller voir des comédies musicales ou les Enfoirés, se goinfrer de sushis…)</h4>
          <h4> <strong>Amies depuis :</strong> la seconde, septembre 2002</h4>
          <h4> <strong>Hobbies :</strong> Donner des leçons de notariat, se mettre
           à la photo, écouter aux portes</h4>
          <!-- <h4> <strong>Contact :</strong></h4> -->
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="bg-height-100p text-justify">
          <div class="bg-height-250">
            <div class="avatar avatar-bordered">
              <div class="avatar-background" style="background-image: url(<%= image_path 'charles.jpg' %>)"></div>
            </div>
          </div>
          <h3> Charles </h3>
          <h4> <strong> Age :</strong> 29 ans</h4>
          <h4> <strong>Caractère :</strong> Certains disent qu’il est compulsif, exubérant, hyperactif, d’autres diront énergique voire fatigant. Rares sont ceux qui le décriraient comme calme ou reposé, mais détrompez-vous, il suffit d’une grande tasse de thé chaud et d’un tête à tête, et Charles sait se faire à l’écoute et doux comme un agneau.</h4>
          <h4> <strong>Amis depuis :</strong> le WEI – septembre 2007</h4>
          <h4> <strong>Hobbies :</strong> l’electro, l’electro, l’electro et les jeux vidéos</h4>
          <!-- <h4> <strong>Contact :</strong></h4> -->
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="bg-height-100p text-justify">
          <div class="bg-height-250">
            <div class="avatar avatar-bordered">
              <div class="avatar-background" style="background-image: url(<%= image_path 'arthur.jpg' %>)"></div>
            </div>
          </div>
          <h3> Arthur </h3>
          <h4> <strong> Age :</strong> 29 ans</h4>
          <h4> <strong>Caractère :</strong> Grand sentimental derrière ses lunette de hipster, ses tshirts de hipster, ses cheveux crépus de hipster (ah non là ce sont d’autres origines), Tutur comme on l’appelle adore manger, jouer, boire, faire la fête, danser, et pincer la bouche en cul de poule. Racontez-lui toujours les blagues deux fois, c’est rare qu’il comprenne la première….</h4>
          <h4> <strong>Amis depuis :</strong> un séminaire en Laponie – 2012.</h4>
          <h4> <strong>Hobbies :</strong> le Hipsterisme</h4>
          <!-- <h4> <strong>Contact :</strong></h4> -->
        </div>
      </div>
    </div>

    <div class="row padding-top-20 padding-bottom-20">
      <div class="col-xs-12 col-md-3">
        <div class="bg-height-100p text-center">
          <div class="bg-height-250">
            <div class="bg-white avatar avatar-bordered" style="display: flex; justify-content: center; align-items: center;">
              <h3> Les témoins du marié </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="bg-height-100p text-justify">
          <div class="bg-height-250">
            <div class="avatar avatar-bordered">
              <div class="avatar-background" style="background-image: url(<%= image_path 'nicolas.png' %>)"></div>
            </div>
          </div>
          <h3> Nicolas </h3>
          <h4> <strong> Age :</strong> 27 ans</h4>
          <h4> <strong>Caractère :</strong> Courageux, fonceur, une vraie force de la nature. Prédestiné aux taches
          physiques et à servir de bouncer avec le type relou qui drague ta meuf.</h4>
          <h4> <strong>Amis depuis :</strong> 3 septembre 1988 (ya habourné toi yiyiyiyi !)</h4>
          <h4> <strong>Hobbies :</strong> Taekwondo, voyages et faire la cuisine.</h4>
          <!-- <h4> <strong>Contact :</strong>0652688298</h4> -->
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="bg-height-100p text-justify">
           <div class="bg-height-250">
            <div class="avatar avatar-bordered">
              <div class="avatar-background" style="background-image: url(<%= image_path 'marina.png' %>)"></div>
            </div>
          </div>
          <h3> Marina </h3>
          <h4> <strong> Age :</strong> 28 ans</h4>
          <h4> <strong>Caractère :</strong> Son excessive intelligence n’a d’égale que sa moquerie, bienveillante. De bon conseil, à l’écoute, elle est toujours là quand il faut. Une meilleure pote quoi.</h4>
          <h4> <strong>Amis depuis :</strong> 2005 (wouputain)</h4>
          <h4> <strong>Hobbies :</strong> Yoga, les voyages, se moquer de Jean. Et sauver les gens mais ca c’est parce qu’il faut bien vivre ma ptite dame.</h4>
          <!-- <h4> <strong>Contact :</strong>0661214126</h4> -->
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
         <div class="bg-height-250">
          <div class="avatar avatar-bordered">
            <div class="avatar-background" style="background-image: url(<%= image_path 'paul.png' %>)"></div>
          </div>
        </div>
        <div class="bg-height-100p text-justify">
          <h3> Paul </h3>
          <h4> <strong>Age :</strong> 28 ans </h4>
          <h4><strong> Caractère :</strong> Brillant, vif, drole... Sa nonchalance de surface n’a d’égale que sa faculté à trouver le mot juste.</h4>
          <h4><strong>Amis depuis :</strong> hier</h4>
          <h4><strong>Hobbies :</strong> Le bon vin, le PSG, le rugby et cette bonne vieille porte de St Ouen.
         <!--  <h4><strong>Contact :</strong> 0607379347</h4> -->
        </div>
      </div>
    </div>

  </div>
</div>

<div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
</div>

<div class='container max-width'>

  <div class="row">
    <div class= "col-xs-12">
      <h1 class = "text-center"> Quelques photos en attendant celles du mariage ! </h1>
    </div>
  </div>

  <div class="row padding-top-20 padding-bottom-20">
    <% @photos.each do |photo| %>
      <div class= "col-xs-12 col-md-4">
        <div class="card" style="background-color: white">
          <a href=<%= image_path photo %> data-lightbox="roadtrip" title="Nos jours heureux">
            <img src=<%= image_path photo %> alt="image" style="width: 300px; height:200px;" class="img-thumbnail">
          </a>
        </div>
      </div>
    <% end %>
  </div>

</div>

<div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
</div>

<div class='container max-width'>

  <div class="row padding-top-20 padding-bottom-20 ">
    <div class= "col-xs-12">
      <h1 class = "text-center"> Nous vous attendons avec impatience le 4 juin !</h1>
    </div>
  </div>

  <div class="row padding-bottom-20">
    <div class= "col-xs-12 text-center font-pink">
     <i class="fa fa-heart fa-5x"></i>
    </div>
  </div>

</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>

  $('#days').countdown('2016/06/04', function(event) {
    $(this).html(event.strftime('%D'));
  });

  $('#hours').countdown('2016/06/04', function(event) {
      $(this).html(event.strftime('%H'));
  });

  $('#minutes').countdown('2016/06/04', function(event) {
    $(this).html(event.strftime('%M'));
  });

  $('#secondes').countdown('2016/06/04', function(event) {
    $(this).html(event.strftime('%S'));
  });

  <% end %>

  <%= javascript_tag do %>

    $(function animateHeart() {
      $('.heart span').animate({
          fontSize: $('.heart span').css('fontSize') == '75px' ? '50px' : '75px'
      }, 500, animateHeart);
    });
  <% end %>

  <%= javascript_tag do %>
    $(function( $ ) {
        $( '.swipebox' ).swipebox();
    } )
  <% end %>

<% end %>


