<div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
</div>

<div class="bg-pink">
  <div class="container max-width">
    <div class="row padding-top-20 padding-bottom-20">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="padding-top-20 padding-bottom-20">
          <h1 class="text-center padding-top-20 padding-bottom-20 text-white"> La mairie </h1>
        </div>
        <div class="bg-height-400-center" style="background-image: url(<%= image_path 'mairie.JPG' %>)">
        </div>
        <div class="padding-top-20 padding-bottom-20 text-center">
         <p> Adresse : 5 Place de la Mairie, 71150 Cheilly-lès-Maranges </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
</div>

<div class="container max-width">
  <div class="row padding-top-20 padding-bottom-20">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h1 class="text-center padding-top-20 padding-bottom-20">L'Eglise </h1>
      <div class="bg-height-400-center" style="background-image: url(<%= image_path 'eglise.jpg' %>">
      </div>
      <div class="padding-top-20 padding-bottom-20 text-center">
         <p> Adresse : 12 Rue des Halles, 71150 Chagny </p>
      </div>
    </div>
  </div>
</div>

<div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
</div>

<div class="bg-pink">
  <div class="container max-width">
    <div class="row padding-top-20 padding-bottom-20">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h1 class="text-center padding-top-20 padding-bottom-20 text-white">Le chateau de chassagne Montrachet </h1>
        <div class="bg-height-400-center" style="background-image: url(<%= image_path 'chassagne.JPG' %>">
        </div>
        <div class="padding-top-20 padding-bottom-20 text-center">
         <p> Adresse : 5 Chemin du Château, 21190 Chassagne-Montrachet </p>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
</div>

<div class="container max-width">
  <div class="row">
    <div class="col-xs-12">
      <div class="padding-top-20 padding-bottom-20">
        <h1 class="text-center">Comment aller de l'un à l'autre ?</h1>
      </div>
    </div>
  </div>
  <div class="row padding-top-20 padding-bottom-50">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="padding-top-20 padding-bottom-20">
        <h2 class="text-center">De la Mairie à l'église de Cheilly les Maranges </h2>
      </div>
      <div class="map-static-2">
        <span class="map-bg" style="background-image: url(<%= image_path 'mairie-eglise.png' %>)"></span>
        <a href='https://www.google.fr/maps/dir/Eglise+Saint+Pierre+et+Saint+Paul,+Rue+Belle+Vue,+71150+Cheilly-l%C3%A8s-Maranges/Mairie,+5+Place+de+la+Mairie,+71150+Cheilly-l%C3%A8s-Maranges/@46.8958987,4.6659147,17z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x47f259d29e2d5a81:0x478615b9ec492219!2m2!1d4.667294!2d46.895256!1m5!1m1!1s0x47f259cd347805f9:0xfa9a5363b541b517!2m2!1d4.6689442!2d46.8968095' target="_blank" class='banner-link'></a>
      </div>
    </div>
  </div>
</div>

  <div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
</div>

<div class="container max-width">
  <div class="row padding-top-20 padding-bottom-50">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="padding-top-20 padding-bottom-20">
        <h2 class="text-center">De l'église de Cheilly les Maranges au Chateau de Chassagne-Montrachet</h2>
      </div>
      <div class="map-static-2">
        <span class="map-bg" style="background-image: url(<%= image_path 'eglise-chateau.png' %>)"></span>
        <a href='https://www.google.fr/maps/dir/Eglise+Saint+Pierre+et+Saint+Paul,+Rue+Belle+Vue,+71150+Cheilly-l%C3%A8s-Maranges/Ch%C3%A2teau+de+Chassagne-Montrachet,+Chemin+du+Ch%C3%A2teau,+Chassagne-Montrachet/@46.9139806,4.6707394,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x47f259d29e2d5a81:0x478615b9ec492219!2m2!1d4.667294!2d46.895256!1m5!1m1!1s0x47f2f63c3fd37947:0x982e0feb318a8a73!2m2!1d4.7356155!2d46.9367827' target="_blank" class='banner-link'></a>
      </div>
    </div>
  </div>
</div>



