
<div class="container max-width">

  <div class="row">
    <div class="col-xs-12">
      <div class="padding-top-20 padding-bottom-20">
        <h1 class="text-center"> Comment venir ? </h1>
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <a href="#train" class="js-scrollTo font-green">En train</a>
          </div>
          <div class="col-xs-12 col-md-3">
            <a href="#voiture" class="js-scrollTo font-green">En voiture</a>
          </div>
          <div class="col-xs-12 col-md-3">
            <a href="#covoiturage_new" class="js-scrollTo font-green">Proposer un covoiturage</a>
          </div>
          <div class="col-xs-12 col-md-3">
            <a href="#covoiturage" class="js-scrollTo font-green">Voir les covoiturages</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="train" class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
  </div>

    <div class="row" >
      <div class="col-xs-12">
        <div class="padding-top-20">
          <h2  class="text-center font-green"> En train </h2>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="padding-bottom-20 text-center">
          <h3> <strong>Paris Gare de Lyon -> Beaune (2h)</strong></h3>
          <h3> <strong>Paris Gare de Lyon -> le Creusot (1h20)</strong></h3>
          <p>Puis, location d'une voiture </p>
          <p>via Hertz ou Enterprise (le Creusot, 30 minutes jusqu'à Cheilly les Maranges) </p>
          <p id="voiture">via Rent a Car, Hertz, Ada (Beaune, 25 minutes jusqu'à Cheilly les Maranges</p>
        </div>
      </div>
    </div>

 <div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
  </div>

    <div class="row" >
      <div class="col-xs-12">
        <div class="padding-top-20">
          <h2  class="text-center font-green"> En voiture </h2>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="padding-bottom-20 text-center">
          <h3> <strong>3h depuis Paris centre</strong></h3>
          <p id="covoiturage">A6 sortie beaune</p>
        </div>
      </div>
    </div>

 <div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')"></div>

    <div class="row">
      <div class="col-xs-12">
        <div class="padding-top-20 padding-bottom-20">
          <h2 class="text-center text-green"> En covoiturage </h2>
        </div>
      <div class="col-xs-12">
          <div class= "row">
            <div >
              <% if Covoiturage.all.nil? %>
                <h3 class="text-center"> Soyez le premier à poster une offre de covoiturage !</h3>
              <% else %>
                <h3 class="text-center"> Les covoiturages déjà postés </h3>
                <div id="covoiturages">
                  <% @covoiturages.each_with_index do |covoiturage, id| %>
                    <%= render 'covoiturages/show', covoiturage: covoiturage, id: id, review: @review %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <div class= "row padding-bottom-50 " id="covoiturage_new" >
            <h3 class="text-center font-pink"> Postez un covoiturage </h3>
           <%= render 'covoiturages/new', covoiturage: @covoiturage %>
          </div>
        </div>
        </div>
      </div>

    </div>
  </div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>

    $(document).ready(function() {
        $('.js-scrollTo').on('click', function() { // Au clic sur un élément
          var page = $(this).attr('href'); // Page cible
          var speed = 750; // Durée de l'animation (en ms)
          $('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
          return false;
        });
      });
  <% end %>
<% end %>





